.products__link {
    text-decoration: none;
    color: black;
}

.products__title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 10px 0px;
    font-size: 3rem;
}

.products {
    display: grid;
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.products__items {
    min-height: 250px;
    cursor: pointer;
    margin: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-sizing: border-box;
}

.products__item-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.products__item-name {
    border-bottom: 2px solid lightgray;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin-left: 8px;
    max-width: 100px;
}

.products__item-price {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.products__item-img {
    margin: 0px 70px;
    margin-left: 10px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
}

.icon-container {
    position: absolute;
    transform: translate(180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-around;
}

.cart-icon__container {
    text-align: center;
    border: 2px solid black;
    border-radius: 50vh;
    padding: 10px;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
}

.cart-icon__container:hover {
    background-color: lightgray;
}


.cart-icon {
    text-align: center;
    font-size: 1.5rem;
}

.list-icon__container {
    text-align: center;
    border: 2px solid black;
    border-radius: 50vh;
    padding: 10px;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
}

.list-icon__container:hover {
    background-color: lightgray;
}


.list-icon {
    text-align: center;
    font-size: 1.5rem;
}
